/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman;
  color: black;
  background-color: white;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(148, 70, 70);
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 200px;
  height: 50px;
  border-radius: 50%;
}

.logo h1 {
  color: rgb(146, 51, 51);
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: rgb(240, 238, 238);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(0, 0, 0);
}

.hero {
  background-image: url('students-studying-outdoors-stockcake.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 20px;
}


.hero-text h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background-color: white;
  color: red;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* Sections */
.section {
  padding: 80px 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.red-bg {
  background-color: #ffe5e5;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: red;
}

.section p {
  font-size: 18px;
  line-height: 1.6;
}

/* Footer */
footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 15px 0;
}
